<ion-content>

    <div class="container">
        <h2 class="title">Identifier votre <br> Rendez-vous</h2>
        <ion-label class="id_label">ID du Rendez-vous:</ion-label>
        <ion-input class="id_input" fill="outline" placeholder="Saisir votre ID ici..." type="text" [(ngModel)]="appointmentId"></ion-input>
        <br>
        <ion-button class="send_btn" expand="block" (click)="submitData()">Envoyer</ion-button>
        <app-divider text="Ou"></app-divider>
        <div class="img_container" [ngClass]="{'hide-camera-container': !cameraActive}">
          <ngx-scanner-qrcode #qrCode (event)="handleEvent($event)" #action="scanner" ></ngx-scanner-qrcode>
        </div>
        <ion-button *ngIf="cameraActive"  class="send_btn" expand="block"(click)="handle(action,'stop')">
          <ion-icon slot="start" src="assets/images/camera_inactive.svg" ></ion-icon>
          {{'Désactiver Camera'}}
        </ion-button>

        <ion-button *ngIf="!cameraActive"  class="send_btn" expand="block"(click)="handle(action,'start')">
          <ion-icon slot="start" src="assets/images/camera_active.svg" ></ion-icon>
          {{'Activer Camera'}}
        </ion-button>



    </div>
</ion-content>
