ion-header {
    width: 100%;
}

.toolbar-custom-background-color {
    --background: var(--toolbar-background-color);
}

.custom-thumbnail {
    width: 8rem;
    height: 3rem;
}

.custom-thumbnail ion-img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: pointer;
}