<ion-content>
  <div class="container">
    <h2 class="title">Prise des tickets virtuels</h2>
    <div class="img_container" [hidden]="!cameraActive1">
      <ngx-scanner-qrcode class="code-scanner" (event)="handleEvent1($event)" #scanner1="scanner" [isBeep]="false"></ngx-scanner-qrcode>
    </div>
    <ion-button *ngIf="cameraActive1" class="send_btn" expand="block" (click)="handle(scanner1, 'stop', 1)">
      <ion-icon slot="start" src="assets/images/camera_inactive.svg"></ion-icon>
      {{ 'Désactiver Camera' }}
    </ion-button>
    <ion-button *ngIf="!cameraActive1" class="send_btn" expand="block" (click)="handle(scanner1, 'start', 1)">
      <ion-icon slot="start" src="assets/images/camera_active.svg"></ion-icon>
      {{ 'Activer Camera' }}
    </ion-button>

    <app-divider text="Ou"></app-divider>
    <h2 class="title">Identifier Votre Laboratoire</h2>
    <div class="img_container_2" [hidden]="!cameraActive2">
      <ngx-scanner-qrcode class="code-scanner" (event)="handleEvent2($event)" #scanner2="scanner" [isBeep]="false"></ngx-scanner-qrcode>
    </div>
    <ion-button *ngIf="cameraActive2" class="send_btn" expand="block" (click)="handle(scanner2, 'stop', 2)">
      <ion-icon slot="start" src="assets/images/camera_inactive.svg"></ion-icon>
      {{ 'Désactiver Camera' }}
    </ion-button>
    <ion-button *ngIf="!cameraActive2" class="send_btn" expand="block" (click)="handle(scanner2, 'start', 2)">
      <ion-icon slot="start" src="assets/images/camera_active.svg"></ion-icon>
      {{ 'Activer Camera' }}
    </ion-button>

    <app-divider text="Ou"></app-divider>
    <h2 class="title">Laboratoires adjascents</h2>
    <ion-button (click)="navigateToLabs()" class="send_btn" expand="block">Laboratoires autour de moi</ion-button>
  </div>
</ion-content>
