<ion-content class="ion-padding">
    <div class="button-container">

        <app-square-rounded-icon-button icon="assets/images/calendar_checked.svg" label="J'ai un <br> Rendez-vous"
            color="primary" (click)="navigateToIdentification()">
        </app-square-rounded-icon-button>

        <app-square-rounded-icon-button icon="assets/images/calendar_x.svg" label="J'ai pas un Rendez-vous"
            color="secondary" (click)="navigateToServiceList()">
        </app-square-rounded-icon-button>

    </div>
</ion-content>