<div class="custom_wrapper">
  <div class="custom-container">
      <ion-img class="custom-img" src="assets/images/radar.svg"></ion-img>
      <p class="custom-text text-justify">
        Vous êtes trop loin du laboratoire. Veuillez rester à proximité jusqu'à l'heure prévue de votre rendez-vous.
      </p>
      <p class="custom-text text-justify">
        Votre ticket sera automatiquement supprimé si vous n'êtes pas près du laboratoire 15 min avant l'heure prévue.      </p>

  </div>
  <div class="divider-line"></div>
  <ion-button (click)="dismiss()" fill="clear" class="custom-btn">Fermer</ion-button>
</div>