::ng-deep .modal-content {
  margin: 40px;
  border-radius: 8px;
}
.custom-container {
  padding: 15px;
  padding-bottom: 0px;
}
.custom-text {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  margin: 32px 0px;
}
.custom-ticket {
  color: #59C318;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
}

.custom-ticket span {
  color: #59C318;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
}
.custom-img {
  width: 75px;
  height: auto;
  margin: auto;
}
.custom-img-2 {
  width: 120px;
  height: auto;
  margin: auto;
}
.custom-btn {
  color: #0072F0;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: capitalize;
}
.divider-line {
  height: 1px;
  background-color: #E0E0E0;
}
