<div class="custom_wrapper">
  <div class="custom-container">
      <ion-img class="custom-img" src="assets/images/ticket_called_1.svg"></ion-img>
      <br>
      <ion-img class="custom-img-2" src="assets/images/ticket_called_2.svg"></ion-img>
      <p class="custom-text text-justify">
        Votre ticket a été appelé avec succès, veuillez vous diriger vers la salle indiquée.
      </p>
      <p class="custom-ticket text-justify">
        {{servicePrefix}}{{ticketNumber}} <span *ngIf="ticketRoom">></span> {{ticketRoom}}
      </p>
      <br>
  </div>
  <div class="divider-line"></div>
  <ion-button (click)="dismiss()" fill="clear" class="custom-btn">Fermer</ion-button>
</div>
