<ion-content>

    <div class="container">
        <h2 class="title">Identifier votre <br> Laboratoire</h2>
        <div class="img_container">
          <ngx-scanner-qrcode #qrCode (event)="handleEvent($event)" #action="scanner" (click)="action.isStart ? action.stop() : action.start()"></ngx-scanner-qrcode>
        </div>

        <!-- <div *ngIf=" (action.data| async) as data ">
          <div *ngIf="data[0]">{{data[0].value}} </div>
        </div> -->

        <!-- <ion-button class="send_btn" expand="block" (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</ion-button> -->

        <app-divider text="Ou"></app-divider>

        <ion-button (click)="navigateToLabs()" class="send_btn" expand="block">Laboratoires autour de moi</ion-button>

    </div>
</ion-content>
