<ion-content>

    <div class="container">
        <h2 class="title">Identifier votre <br> Laboratoire</h2>
        <div class="img_container" [hidden]="!cameraActive">
          <ngx-scanner-qrcode class="code-scanner" (event)="handleEvent($event)" #action="scanner" [isBeep]="false"></ngx-scanner-qrcode>
        </div>
        <ion-button *ngIf="cameraActive"  class="send_btn" expand="block"(click)="handle(action,'stop')">
          <ion-icon slot="start" src="assets/images/camera_inactive.svg" ></ion-icon>
          {{'Désactiver Camera'}}
        </ion-button>

        <ion-button *ngIf="!cameraActive"  class="send_btn" expand="block"(click)="handle(action,'start')">
          <ion-icon slot="start" src="assets/images/camera_active.svg" ></ion-icon>
          {{'Activer Camera'}}
        </ion-button>

        <app-divider text="Ou"></app-divider>

        <ion-button (click)="navigateToLabs()" class="send_btn" expand="block">Laboratoires autour de moi</ion-button>
    </div>
</ion-content>
