.container {
    padding: 16px;
    margin-top: 54px;
    gap: 16px;
}

.title {
    color: var(--main-background-color);
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
}

.text {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
}

ion-label.email_label {
    color: #333;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 19.6px */
}

ion-input.email_input {
    min-height: 38px;
    height: 38px;
    --border-width: 0;

    border-radius: 8px;
    border: 1px solid #C4C4C4;
    background: #fff;
}

ion-button.send_btn {
    min-height: 48px;
    height: 48px;
    padding: 14px 0px;
    --border-radius: 8px;
    --background: var(--main-background-color);

    color: #fff;
    /* font-family: Roboto; */
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 19.6px */
    text-transform: capitalize;

}