  <div class="custom-container">
      <p class="title">Votre ticket a ete appelé  :</p>
      <div class="ticket-container">
          <p class="ticket-title">nom proprietaire</p>
          <p class="ticket-text">Information du propriétaire</p>
          <p class="ticket-text">Vous étes enregistré pour le service</p>
          <p class="ticket-medium-title">prise de sang</p>
          <p class="ticket-text">Vous serez appelé sur le moniteur<br>vidéo avec le numéro de ticket</p>
          <p class="ticket-big-title">p056 > S1</p>
          <p class="ticket-text">Votre temps d'attente est estimé a 0 min</p>
          <img src="/assets/images/bars.svg" alt="code a barres">
          <p class="ticket-text">Votre ticket a été imprimé le<br>12/06/2022 à 15:20</p>
          <p class="ticket-small-text">https://www.siteweb.fr/</p>

      </div>
    
  </div>