.custom-container {
    padding: 19px;
}

.title {
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    padding: 16px;
}

.ticket-title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}

.ticket-text {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.ticket-small-text {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}

.ticket-big-title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

.ticket-medium-title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

ion-button.send_btn {
    min-height: 48px;
    height: 48px;
    width: 100%;
    --border-radius: 8px;
    --background: #C53939;

    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-top: 16px;
}