<ion-content>

    <div class="container">
        <h2 class="title">Identifier votre <br> Rendez-vous</h2>
        <ion-label class="id_label">ID du Rendez-vous:</ion-label>
        <ion-input class="id_input" fill="outline" placeholder="543198"></ion-input>
        <app-divider text="Ou"></app-divider>
        <div class="img_container">
            <ion-img class="qr_scan_img" src="assets/images/qr_scan.png"></ion-img>
        </div>
        <app-divider text="Ou"></app-divider>

        <ion-button class="send_btn" expand="block">Envoyer QR Code</ion-button>

    </div>
</ion-content>