<ion-content>

  <div class="container">
    <h2 class="title">Laboratoires</h2>
    <p class="text">Veuillez choisir le laboratoire qui vous convient.</p>
    <div class="search-refresh-block">
      <app-search-bar placeholder="Recherche Laboratoire" (search)="onSearch($event)"
        style="flex-grow: 1"></app-search-bar>
      <ion-button class="refresh-btn" (click)="getLabs()">
        <ion-img src="/assets/images/refresh.svg"></ion-img>
      </ion-button>
    </div>

    <ng-container *ngIf="labs && labs.length > 0; else elseTemplate">
      <ion-list>
        <app-lab-card (click)="navigateToIdentification(lab)" *ngFor="let lab of labs | appSearch : searchTerm"
          name="{{lab.kiosk_group_name}}" address="Adresse {{lab.kiosk_group_geo_address}}"></app-lab-card>
      </ion-list>
      <div class="pagination-container">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="pageSize"
          (pageChange)="onPageChange($event)">
        </ngb-pagination>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="custom_wrapper">
        <div class="custom-container">
          <ion-img class="custom-img" src="assets/images/empty-list.svg"></ion-img>
          <p class="custom-text text-justify">
            Désolé, pas de laboratoire disponible à proximité.
          </p>
        </div>
      </div>
    </ng-template>

  </div>
</ion-content>