<ion-content>

    <div class="container">
        <p class="text">Veuillez entrer votre e-mail pour recevoir votre ticket.</p>
        <ion-label class="email_label">E-mail:</ion-label>
        <ion-input class="email_input" fill="outline" placeholder="lorum.ipsum@gmail.cpm"></ion-input>
        <ion-button class="send_btn" (click)="openModal('Email_Sent')" expand="block">Envoyer</ion-button>
        <ion-button class="send_btn" (click)="openModal('Proximity')" expand="block">Proximity</ion-button>
        <ion-button class="send_btn" (click)="openModal('Ticket_Success')" expand="block">Ticket_Success</ion-button>
        <ion-button class="send_btn" (click)="openModal('Lab_Proximity')" expand="block">Lab_Proximity</ion-button>
        <ion-button class="send_btn" (click)="openModal('Delete_Warning')" expand="block">Delete_Warning</ion-button>
        <ion-button class="send_btn" (click)="openModal('Ticket_Called')" expand="block">Ticket_Called</ion-button>
    </div>
</ion-content>