.custom-button {
    width: 156px;
    height: 156px;
    --border-radius: 8px;
    box-shadow: 0px 2px 10px 0px rgba(102, 102, 102, 0.12);
}

.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.custom-button-content ion-label {
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: none !important
}

ion-button.btn-with {
    --background: #354A9E;
}

ion-button.btn-without {
    --background: #5BB86D;
}