<div class="custom_wrapper">
        <div class="custom-container">
                <ion-img *ngIf="imageSrc !== ''" class="custom-img" src="{{imageSrc}}"></ion-img>
                <p class="custom-text text-justify">
                        Nous vous informons que votre ticket a été automatiquement supprimé en raison de votre arrivée tardive à l'heure de rendez-vous prévue. 
                </p>
                <p class="custom-text text-justify">
                        Nous vous prions de bien vouloir retourner à la liste des laboratoires disponibles afin de générer un nouveau ticket pour un prochain créneau horaire.
                </p>
        </div>
        <div class="divider-line"></div>
        <ion-button (click)="returnToHome()" fill="clear" class="custom-btn">Retourner à la liste des laboratoires</ion-button>
</div>